@model IEnumerable<Ikra_Is_Yonetim.DAL.EntityFramework.Tables.Siparisler>
@{
    ViewBag.Title = "Verilen Siparişler";
    Layout = "~/Views/layouts/dashboard_layout.cshtml";
}

    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Verilen Siparişler
            </h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="float-left">
                            <a href="/order" class="btn btn-primary btn-pill btn-sm">
                                Tümü
                            </a>
                            &nbsp;
                            <a href="/order/index?type=1" class="btn btn-sm btn-danger btn-pill">
                                Ödenmeyenler
                            </a>
                            &nbsp;
                            <a href="/order/index?type=2" class="btn btn-sm btn-primary btn-pill">
                                Ödenenler
                            </a>
                            &nbsp;
                        </div>
                      
                    </div>
                    <div class="table-responsive" style="overflow-y:scroll;max-height:600px !important;">
                        <form id="frmPayment" method="post" 
                              action="/order/multipayment">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th class="text-center w-1"><i class="icon-people"></i></th>
                                        <th>Yemek Bilgisi</th>
                                        <th>Zaman Bilgisi(Sipariş-Teslim)</th>
                                        <th class="text-center">Durumu</th>
                                        <th class="text-center">Ödeme</th>

                                        <th>Yemek Sayısı(Kişi)</th>
                                        <th class="text-center">Hizmet Bedeli</th>
                                   
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @{
                                                    if (item.SiparisDurum == Ikra_Is_Yonetim.DAL.EntityFramework.Tables.SiparisDurumu.İletildi
                                                        &&
                                                        item.OdemeId==null
                                                        )
                                                    {
                                                        <label class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input"
                                                                   name="selected"
                                                                   value="@item.Id">
                                                            <span class="custom-control-label">Seç</span>
                                                        </label>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <div>@Html.DisplayFor(s => item.Yemek.YemekAdi) - Porsiyon : @Html.DisplayFor(s => item.Yemek.PorsiyonGr) gr</div>
                                                <div class="small text-muted">
                                                    @Html.DisplayFor(s => item.Yemek.YemekAciklamasi)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="float-left">
                                                    <span class="text-muted">Sipariş Tarihi</span>
                                                    <small>@Html.DisplayFor(s => item.SiparisTarihi)</small>
                                                </div>
                                                <br />
                                                <div class="float-left">
                                                    <span class="text-muted">Teslim Tarihi</span>
                                                    @{
                                                        if (item.TeslimTarihi == null)
                                                        {
                                                            <small class="text-danger">-----</small>
                                                        }
                                                        else
                                                        {
                                                            <small>@Html.DisplayFor(s => item.TeslimTarihi)</small>
                                                        }
                                                    }

                                                </div><br />
                                                <div class="float-left">

                                                    @{
                                                        if (item.TeslimTarihi == null)
                                                        {
                                                            <small class="text-muted">----</small>
                                                        }
                                                        else
                                                        {
                                                            TimeSpan fark = (DateTime)item.TeslimTarihi - item.SiparisTarihi;
                                                            <small class="text-success">@fark.TotalMinutes.ToString("0.00 dk")</small>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                            <td class="text-center">

                                                @{
                                                    if (item.SiparisDurum == Ikra_Is_Yonetim.DAL.EntityFramework.Tables.SiparisDurumu.İletildi)
                                                    {
                                                        <span class="status-icon bg-success"></span><span>Teslim Edildi</span>
                                                    }
                                                    else if (item.SiparisDurum == Ikra_Is_Yonetim.DAL.EntityFramework.Tables.SiparisDurumu.İptal)
                                                    {
                                                        <span class="status-icon bg-danger"></span><span>İptal Edildi</span>
                                                    }
                                                }


                                            </td>
                                            <td class="text-center">
                                                @{
                                                    if (item.OdemeId == null)
                                                    {
                                                        <span class="status-icon bg-danger"></span>
                                                        <span>Ödeme bekleniyor</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="status-icon bg-success"></span>
                                                        <span>Ödeme yapıldı</span>
                                                    }
                                                }


                                            </td>
                                            <td>
                                                <div class="small text-muted">Sipariş Sayısı</div>
                                                <div>@Html.DisplayFor(s => item.YemekSayisi) kişilik</div>
                                            </td>
                                            <td class="text-center">
                                                @{
                                                    if (item.SiparisDurum == Ikra_Is_Yonetim.DAL.EntityFramework.Tables.SiparisDurumu.İptal)
                                                    {
                                                        <span class="bg-danger m-2 rounded text-white">X İPTAL</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="stamp stamp-md bg-green mr-3">
                                                            <i class="fe fe-shopping-cart"></i>
                                                        </span>
                                                        <div>
                                                            <h4 class="m-0">
                                                                <a href="javascript:void(0)">
                                                                    @(item.YemekSayisi * item.Musteri.GunlukYemekFiyati)
                                                                    <small>TL</small>
                                                                </a>
                                                            </h4>
                                                            <small class="text-muted">
                                                                @Html.DisplayFor(s => item.YemekSayisi)
                                                                kişilik yemek
                                                            </small>
                                                        </div>

                                                    }
                                                }

                                            </td>
                                            
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button 
                                id="paymentbtn"
                                class="btn btn-lg btn-green btn-pill float-lg-right"
                                onclick="$('#frmPayment').submit();"
                                >
                        <i class="fe fe-credit-card fa-2x"></i>
                        Seçilenleri Şimdi Öde</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="~/Scripts/jquery-1.6.4.js"></script>

<script>
    var swapChecked = 0;
    function add(val) {
        swapChecked += 1;
        triggerOrderBtn();
    }
    function remove(val) {
        if (swapChecked > 0) {
        swapChecked -= 1;
        }
        triggerOrderBtn();
    }
    function triggerOrderBtn() {
        if (swapChecked > 0) {
            $("#paymentbtn").show();
        }
        else {
            $("#paymentbtn").hide();
        }
    }
    $("#paymentbtn").hide();
    $("input[name='selected']").change(function() {
        if (this.checked) {
            //Do stuff
            add(this.value);
        }
        else if (!this.checked) {
            remove(this.value);
        }

    });
</script>